<!-- -------------------------------- HEAD --------------------------------- -->
<div class="appllication__header">
  <div role="button" (click)="navigateToBack()">
    <ui-icon
      (click)="navigateToBack()"
      class="application__icon-back"
      [type]="icon.ArrowLeft"
    ></ui-icon>
  </div>
  <h2>Installments</h2>
</div>
<hr />
<!-- ------------------------ INSTALLMENTS DETAILS ------------------------- -->
<div class="d-flex justify-content-between mb-7 details__data">
  <div>
    <h5 class="text-primary">Declared MonthlyProfit</h5>
    <p>{{ installmentsInvestmentRequest?.declaredProfitToShare }} USD</p>
  </div>
  <div>
    <h5 class="text-primary">Raised Funds</h5>
    <p>{{ installmentsInvestmentRequest?.raisedFunds }} USD</p>
  </div>
  <div>
    <h5 class="text-primary">Invested</h5>
    <p>{{ installmentsInvestmentRequest?.invested }} USD</p>
  </div>
  <div>
    <h5 class="text-success">Invested Percentage</h5>
    <p>{{ installmentsInvestmentRequest?.investedPercentage }}</p>
  </div>
</div>
<!-- ------------------------- TABLE INSTALLMENTS -------------------------- -->
<div class="mat-elevation-z8 mb-7">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let element" class="text-primary">
        {{ element.no }}
      </td>
    </ng-container>

    <ng-container matColumnDef="paymentDate">
      <th mat-header-cell *matHeaderCellDef>Payment Date</th>
      <td mat-cell *matCellDef="let element">{{ element.paymentDate }}</td>
    </ng-container>

    <ng-container matColumnDef="totalNetProfit">
      <th mat-header-cell *matHeaderCellDef>Total Net Profit</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          'text-secondary':
            element.installmentData.inflowDescription ||
            element.installmentData.outflowDescription != null,
          '':
            element.installmentData.inflowDescription ||
            element.installmentData.outflowDescription == null
        }"
        (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false"
      >
        {{ element.totalNetProfit }}
        <div class="tooltip">
          <div
            *ngIf="
              showTooltip && element.installmentData.inflowDescription != null
            "
          >
            {{ element.installmentData.inflowDescription }}
          </div>
          <br />
          <div
            *ngIf="
              showTooltip && element.installmentData.outflowDescription != null
            "
          >
            {{ element.installmentData.outflowDescription }}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="profitToShare">
      <th mat-header-cell *matHeaderCellDef>Profit To Share</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          'text-danger': element.installmentData.profitToShareInfo != null,
          'text-success': element.installmentData.profitToShareInfo == null
        }"
        (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false"
      >
        {{ element.profitToShare }}
        <div
          class="tooltip_profitToShare"
          *ngIf="
            showTooltip && element.installmentData.profitToShareInfo != null
          "
        >
          {{ element.installmentData.profitToShareInfo }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="transfer">
      <th mat-header-cell *matHeaderCellDef>Transfer</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          'text-danger': element.installmentData.profitToShareInfo != null,
          'text-success': element.installmentData.profitToShareInfo == null
        }"
        (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false"
      >
        {{ element.transfer }}
        <div
          class="tooltip_profitToShare"
          *ngIf="
            showTooltip && element.installmentData.profitToShareInfo != null
          "
        >
          {{ element.installmentData.profitToShareInfo }}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
