:host {
  color: inherit;
  display: inline-block;
  height: 24px;
  width: 24px;
}

svg {
  background-color: transparent;
  color: inherit;
  fill: currentColor;
  display: block;
  height: 100%;
  width: 100%;
}
