<div
  class="card"
  [ngStyle]="{
    'border-radius': businessOwner.isInvested ? '20px 20px 0 0' : '20px'
  }"
>
  <div class="header"></div>
  <div class="body">
    <div class="complate__field" *ngIf="businessOwner.isInvested">
      <ui-icon class="complate__icon" [type]="icon.Ok"></ui-icon>
      <div class="complate__investment">
        {{ businessOwner?.investedAmount }}$ invested
      </div>
    </div>
    <h3 class="pt-4 companyName">{{ businessOwner?.companyName }}</h3>
    <hr />
    <div class="details">
      <div>
        <p>Credit Rating:</p>
        <p>{{ businessOwner?.rating }}</p>
      </div>
      <div>
        <p>Projected Yearly Net Return:</p>
        <p>{{ businessOwner?.projectedNetReturn }}</p>
      </div>
      <div>
        <p>PSR:</p>
        <p>{{ businessOwner?.psr }}</p>
      </div>
      <div>
        <p>Expire Date of the Offer:</p>
        <p>{{ businessOwner?.expirationDate }}</p>
      </div>
      <div>
        <p>Term:</p>
        <p>{{ businessOwner?.returnTerm }} months</p>
      </div>
      <div>
        <p>Amount to meet the target:</p>
        <p>{{ businessOwner?.amountToMeetTarget }} USD</p>
      </div>
      <div>
        <p>Main product & service:</p>
        <p>{{ businessOwner?.businessSubsector?.name }}</p>
      </div>
      <div>
        <p>Business structure:</p>
        <p>{{ businessOwner?.businessStructure }}</p>
      </div>
      <app-button
        class="invest-button"
        [color]="buttonColor.Secondary"
        (click)="openModal()"
        >View</app-button
      >
    </div>
  </div>
</div>
