@use "sass:map";
@import "variables";
@import "mixins/typography";
@import "functions";

:host {
  background: url("../../../../../../assets/img/auth-background.svg");

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .header {
      align-self: flex-start;
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 311px;

      section,
      form {
        width: 100%;
      }
    }
  }

  span.net-return {
    width: 80px;
    padding: 10px;
    color: map.get($text-colors, "dark");
    text-align: center;
  }

  h1 {
    @include typography("heading-bold");
    color: map.get($text-colors, "dark");
  }

  h4 {
    font-weight: 400;
    color: map.get($text-colors, "disabled");
    margin: getSpacers(4, 0);
  }

  .delete-button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

    p,
    ui-icon {
      color: map.get($theme-colors, "info") !important;
    }
  }

  .text__request {
    margin-bottom: 30px;
    font-size: 14px;
    color: rgb(192, 190, 190);
  }

  .application__details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
    color: rgb(74, 164, 253);

    .application__text {
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
      color: rgb(74, 164, 253);
    }

    .application__icon {
      transform: rotate(180deg);
      margin-left: 15px;
      height: 15px;
    }
  }

  .buttons__accept {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    app-button {
      width: 200px;
      margin: 5px;

      .input__valid {
        border: 2px solid red;
      }
    }
  }

  .textarea {
    height: 260px;
  }

  .char-count {
    display: flex;
    justify-content: start;
    margin-top: -110px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: map.get($theme-colors, "disabled");
  }

  .alert__dashboard_monthlyreports {
    color: map.get($theme-colors, "danger");
    position: absolute;
    top: 340px;
    left: 330px;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
  }

  .alert__dashboard_profile {
    color: map.get($theme-colors, "warning");
    position: absolute;
    top: 180px;
    left: 330px;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
  }

  .alert__dashboard_investment {
    color: map.get($theme-colors, "danger");
    position: absolute;
    top: 180px;
    left: 680px;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
  }

  .dashboard {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
    margin-top: 20px;

    &__card {
      border: 2px solid map.get($theme-colors, "primary");
      border-radius: 10px;
      padding: 10px 50px 10px 50px;
      color: map.get($theme-colors, "white");
      background: map.get($theme-colors, "primary");
      width: 300px;

      &:hover {
        border: 2px solid map.get($theme-colors, "secondary");
        background: map.get($theme-colors, "secondary");
        color: white;
        cursor: pointer;
      }

      &_name {
        font-size: 20px;
        text-align: center;
      }

      &_icon {
        height: 40px;
        width: 100%;
        text-align: center;
      }
    }

    &__card-inactive {
      border: 2px solid map.get($theme-colors, "disabled");
      border-radius: 10px;
      padding: 10px 50px 10px 50px;
      color: map.get($theme-colors, "disabled");
      width: 300px;
      background: map.get($theme-colors, "light");

      &_name {
        font-size: 20px;
        text-align: center;
      }

      &_icon {
        height: 40px;
        width: 100%;
        text-align: center;
      }
    }
  }

  .chart__legend {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;

    .chart__legend_influences {
      margin-right: 20px;
      color: map.get($theme-colors, "white");
      background: map.get($theme-colors, "secondary");
      padding: 10px;
      border-radius: 10px;
      cursor: default;
    }

    .chart__legend_expenses {
      margin-right: 70px;
      color: map.get($theme-colors, "white");
      background: map.get($theme-colors, "primary");
      padding: 10px;
      border-radius: 10px;
      cursor: default;
    }
  }
}
