@use "sass:map";
@import "variables";
@import "mixins/typography";
@import "mixins/";
@import "functions";

:host {
  .blocker {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-color: white;
    text-align: center;

    h1 {
      @include typography("heading-bold");
      color: map.get($text-colors, "dark");
    }

    p {
      @include typography("body-regular");
      color: map.get($text-colors, "medium");
    }
  }
}
