<div class="blocker d-flex d-sm-none">
  <img src="../../../../assets/img/asabik-logo.svg" class="logo mt-11 mb-9" />
  <h1>
    Asabik offers a dedicated mobile app for investors and business owners
  </h1>
  <p class="mb-6">
    download the app from the store <br />
    to sign up and log in.
  </p>
  <div class="d-flex flex-wrap justify-content-around w-100 gap-6">
    <a href="https://www.apple.com/pl/app-store/">
      <img src="../../../../assets/img/app-store.svg" />
    </a>

    <a href="https://play.google.com/store">
      <img src="../../../../assets/img/google-play.svg" />
    </a>
  </div>
</div>

<div class="d-none d-sm-flex">
  <ng-content></ng-content>
</div>
